body {
  background: #f8feff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
}

h1 {
  text-align: center;
  color: #6f7bfc;
}

.about {
  background: #ffffff;
  padding: 15px;
  margin-bottom: 30px;
}

.skills {
  background: #ffffff;
  padding: 15px;
  margin-bottom: 30px;
}

.projects {
  background: #ffffff;
  padding: 15px;
  margin-bottom: 30px;
}

.contact {
  background: #ffffff;
  padding: 15px;
  margin-bottom: 30px;
}

/* ID selectors (Week 04: #id) */
#outerDiv {
  display: flex;
  flex-wrap: wrap;
}

#leftThird {
  width: 33%;
  padding: 10px;
}

#middleThird {
  width: 33%;
  padding: 10px;
}

#rightThird {
  width: 33%;
  padding: 10px;
}